<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>旅馆业</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/conf/spring/*.xml</param-value>
	</context-param>
  	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>hz2004qxgl.root</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/conf/log4j.xml</param-value>
	</context-param>

	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.gnt.qxgl.base.LoginFilter</filter-class>
	</filter>
	
	<!-- 压缩JSP数据传输 -->
  	<filter>
    	<filter-name>GZIPEncoder</filter-name>
    	<filter-class>com.gnt.qxgl.base.zip.GZIPEncodeFilter</filter-class>
        <init-param>
          <param-name>compressionThreshold</param-name>
          <param-value>10</param-value>
        </init-param>
        <init-param>
          <param-name>debug</param-name>
          <param-value>1</param-value>
        </init-param>    	
  	</filter>
 	
 	<!-- 通用字典处理 	-->
	<servlet>
		<servlet-name>CommonDict</servlet-name>
		<servlet-class>com.gnt.qxgl.common.dict.DictServlet</servlet-class>  		
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonDict</servlet-name>
		<url-pattern>/util/dict</url-pattern>
	</servlet-mapping>
	
    <filter-mapping>
    	<filter-name>GZIPEncoder</filter-name>
    	<url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
    <filter-mapping>
    	<filter-name>GZIPEncoder</filter-name>
    	<url-pattern>*.js</url-pattern>
  	</filter-mapping>
    <filter-mapping>
    	<filter-name>GZIPEncoder</filter-name>
    	<url-pattern>*.css</url-pattern>
  	</filter-mapping>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	
	<!--
		<listener>
		<listener-class>
		com.gnt.fxyp.common.listener.StartupListener
		</listener-class>
		</listener> -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<!-- 通用文件上传 -->
	<servlet>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>com.gnt.qxgl.base.FileController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
    	<servlet-name>FileUploader</servlet-name>
   	 	<url-pattern>/util/upfile</url-pattern>
 	</servlet-mapping>
 	
	<!-- 通用文件上传 -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>500</error-code>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/404.jsp</location>
	</error-page>
	
	<!-- 该资源受SSL保护，并且客户必须提供个人证书进行验证 -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SSL Security1</web-resource-name>
            <!-- 定义两个需要保护的目录sys和admin -->
            <url-pattern>/calogin.jsp</url-pattern>
            <url-pattern>/ca/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
</security-constraint>

<login-config>
<auth-method>CLIENT-CERT</auth-method>
<realm-name>Information</realm-name>
</login-config> 
	
</web-app>
